<section class="lu-contact" data-stellar-background-ratio="0.5">
      <div class="lu-overlay">
        <div class="container">
          <h1 class="lu-section-title text-center">Leave a message</h1>

          
            <div class="col-md-6">
              <%= form_tag(contact_path, method:'post', multipart: true) do %>
              <div class="form-group">
                <div class="controls">
                   <%= label_tag 'name', 'Name'%>
                                <%= text_field_tag 'name', nil, class:'form-control', placeholder:'Name'%>
                </div>
              </div>
              <div class="form-group">
                <div class="controls">
                 <%= label_tag 'email', 'Email Address'%>
                                <%= email_field_tag 'email', nil, class:'form-control', placeholder:'Email Address'%>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <div class="controls">
                  <%= label_tag 'message', 'Message'%>
                                <%= text_area_tag 'message', nil, class:'form-control', placeholder:'Message', rows: 7%>
                </div>
              </div>
              <%= button_tag(type:'submit',class: "btn btn-primary btn-lg")do %>
                                Send My Message
                                <% end %>
            </div>
          
          <% end %>
        </div>
      </div>
    </section>